@import "tailwindcss";

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

.font-title {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.font-cute {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-romantic {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.font-soft {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-body {
  font-family: "Inter", sans-serif;
}